
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    aspect-ratio: 127/100;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.banner {
    background: url('IMG/image 4.png') center/cover no-repeat;
    text-align: center;
    padding: 50px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.texto {
    width: 60%;
    font-size: 16px;
}

.imagem img {
    width: 299px;
    height: 400px;
    flex-shrink: 0;
    aspect-ratio: 153/220;
}


.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.light-mode .sobre {
    background-color: #f0f0f0;
}


.dark-mode {
    background-color: #0b1e3c;
    color: #ffffff;
}

.dark-mode header {
    background-color: #1a2b4c;
}

.dark-mode nav ul li a {
    color: #ffffff;
}

.dark-mode .sobre {
    background-color: #1a2b4c;
    color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.dark-mode .logo img {
    content: url('IMG/branca_curta.png');
}


#toggle-theme {
    background: url('IMG/modo-escuro.png') center/cover no-repeat;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 10px;
}
