@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 50px;
            background-color: #ffffff;
        }

        .footer img {
            width: 100.167px;
            aspect-ratio: 100.17 / 100.00;
        }

        .footer p {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 100;
            line-height: normal;
            text-transform: uppercase;
            color: var(--Azul, #162E50);
            text-align: center;
            flex-grow: 1;
        }

        .footer img:first-child {
            width: 225.06px;
            height: 64.598px;
            flex-shrink: 0;
            aspect-ratio: 225.06 / 64.60;
        }


        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
        }

        .contatos {
            display: flex;
            width: 100vw;
            height: 75vh;
            align-items: center;
        }
        

        .entrar_contato {
            background-color: rgb(255, 255, 255);
            width: 50vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-right: -240px;
            margin-left: 150px;
        }

        .titulo {
            color: var(--Azul, #162E50);
            font-family: "Open Sans", sans-serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            text-align: center;
        }

        .linha {
            width: 400px;
            height: 5px;
            background: #FFE13F;
            backdrop-filter: blur(2px);
        }

        .frase_contato {
            color: var(--Azul, #162E50);
            font-family: "Open Sans";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
            width: 400px;
        }

        .input {
            border: 1px solid #162E50;
            background: #ffffff;
            width: 346.8px;
            height: 50px;
            padding: 10px;
            font-size: 16px;
            outline: none;
        }

        .input::placeholder {
            color: #162E50;
            font-family: "Open Sans";
            font-size: 16px;
        }

        .btn-enviar {
            border: 1px solid #162E50;
            background: #ffffff;
            width: 340px;
            height: 50px;
            font-size: 18px;
            font-weight: 700;
            font-family: "Open Sans";
            color: #162E50;
            text-transform: uppercase;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
        }

        .btn-enviar i {
            margin-right: 30px; 
            font-size: 20px; 
        }


        .btn-enviar:hover {
            background: #FFD700;
        }

        .direita {
            display: flex;
            flex-direction: column;
            width: 45vw;
            gap: 50px;
        }

        .onde_estamos, .redes_sociais {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 15px;
        }

        .onde_estamos .titulo,
        .redes_sociais .titulo,
        .onde_estamos .linha,
        .redes_sociais .linha,
        .onde_estamos .frase_contato,
        .redes_sociais .frase_contato,
        .onde_estamos .btn-enviar,
        .onde_estamos p,
        .redes_sociais p {
            width: 400px;
        }

        .onde_estamos {
            background-color: rgb(255, 255, 255);
        }

        .redes_sociais {
            background-color: rgb(255, 255, 255);
        }

        .redes-sociais-icones {
            display: flex;
            gap: 20px;
            justify-content: center;
            margin-top: 10px;
        }

        .redes-sociais-icones a {
            font-size: 45px;
            color: #162E50;
            text-decoration: none;
            transition: 0.3s;
        }

        .redes-sociais-icones a:hover {
            color: #000000;
        }